.App {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.row{
  display: flex;
}
.square{
  padding: 24px;
  margin: 10px;
  background-color: rgb(30, 207, 130);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}